@tailwind base;
@tailwind components;
@tailwind utilities;
/* Add this to your stylesheet (e.g., styles.css) */
.custom-underline {
    position: relative;
    text-decoration: none; /* Remove default underline */
  }
  
  .custom-underline::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px; 
    width: 0; 
    height: 2px; 
    background-color:#0066cc; 
    transition: width 0.3s ease; 
  }
  
  .custom-underline:hover::after {
    width: 100%;
  }
  .custom-underline1 {
    text-decoration: underline;
    text-decoration-color: #0066cc; /* Using the primary color for underline */
    text-underline-offset: 4px; /* Adjust this value to create the desired space */
}
/* Skeleton loading animation */
.skeleton {
  background-color: #e0e0e0;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}


.skeleton::after {
  content: '';
  position: absolute;
  top: 0;
  left: -150px;
  width: 150px;
  height: 100%;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
  animation: loading 1.2s infinite;
}

@keyframes loading {
  0% {
    left: -150px;
  }
  50% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}

.skeleton-circle {
  border-radius: 50%;
  width: 96px; /* Customize size for profile image */
  height: 96px;
}

.skeleton-text {
  height: 20px;
  width: 75%; /* Default width for text skeletons */
  margin-bottom: 10px;
}

.skeleton-small {
  width: 50%;
  height: 15px;
  margin-bottom: 10px;
}

.skeleton-button {
  width: 75%;
  height: 40px;
  border-radius: 6px;
}
